---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Eduardo PC">
	<main>
		<p
			class="text-yellow-400 text-center text-4xl md:text-9xl font-bold mt-16"
		>
			<span class="block"> EDUARDO </span>
			<span class="block"> POOT </span>
		</p>
		<p class="text-gray-300 text-xl text-center mt-4">web developer</p>
		<div class="flex justify-center">
			<a
				href="/cv-eduardo.pdf"
				download
				class="mt-8 bg-yellow-400 text-black px-6 py-3 rounded-full font-medium hover:bg-yellow-300 transition block w-fit"
				aria-label="Descargar currículum en PDF"
			>
				Descargar CV
			</a>
		</div>
	</main>
</Layout>
