---
import GitHubIcon from "@/components/icons/GitHubIcon.astro";
import GmailIcon from "@/components/icons/GmailIcon.astro";
import InstagramIcon from "@/components/icons/InstagramIcon.astro";
import SocialMedia from "@/components/SocialMedia.astro";
import Layout from "@/layouts/Layout.astro";
import { indexTranslations } from "@/translations/index.js";
const lang = "es";
const t = indexTranslations[lang];
---

<Layout 
title="Portafolio de Eduardo Poot - Desarrollador y programador Web"
description="Portafolio personal de Eduardo Poot, un desarrollador y programador web con experiencia en tecnologías modernas. Explora mis proyectos, habilidades y más."
>
	<main>
		<section id="home" class="scroll-mt-20">
			<p
				id="main-name"
				class="text-yellow-400 text-center text-4xl md:text-9xl font-bold mt-16 transition-all duration-500 opacity-100 translate-y-0"
			>
				<span class="block"> EDUARDO </span>
				<span class="block"> POOT </span>
			</p>
			<p class="text-gray-300 text-xl text-center mt-4">
				{t.description}
			</p>
			<nav class="flex justify-center gap-6 mt-8">
				<SocialMedia href="https://github.com/Eduard0PC">
					<GitHubIcon class="size-6" />
					GitHub
				</SocialMedia>
				<SocialMedia href="https://www.instagram.com/eduard0_poot/">
					<InstagramIcon class="size-6" />
					Instagram
				</SocialMedia>
				<SocialMedia href="">
					<GmailIcon class="size-6" />
					eduardopoot83@gmail.com
				</SocialMedia>
			</nav>
			<div class="flex justify-center">
				<a
					href="/cv-eduardo.pdf"
					download
					class="mt-8 bg-yellow-400 text-black px-6 py-3 rounded-full font-medium hover:bg-yellow-300 transition block w-fit"
					aria-label={t.cvButton}
				>
					{t.cvButton}
				</a>
			</div>
		</section>
	</main>
</Layout>
