---
import HtmlIcon from "@/components/icons/tech/HtmlIcon.astro";
import Tech from "./Tech.astro";
import CssIcon from "@/components/icons/tech/CssIcon.astro";
import JsIcon from "./icons/tech/JsIcon.astro";
import TailwindIcon from "./icons/tech/TailwindIcon.astro";
import GitIcon from "./icons/tech/GitIcon.astro";
import JavaIcon from "./icons/tech/JavaIcon.astro";
import ReactIcon from "./icons/tech/ReactIcon.astro";
import AstroIcon from "./icons/tech/AstroIcon.astro";
import NodeIcon from "./icons/tech/NodeIcon.astro";
import ExpressIcon from "./icons/tech/ExpressIcon.astro";
import NextIcon from "./icons/tech/NextIcon.astro";
import MySQLIcon from "./icons/tech/MySQLIcon.astro";
import PostgreIcon from "./icons/tech/PostgreIcon.astro";
import VercelIcon from "./icons/tech/VercelIcon.astro";
---

<div class="relative w-full mt-20">
    <div
        id="carousel"
        class="flex overflow-x-auto sm:gap-6 px-2 py-4 scrollbar-hide"
    >
        <Tech class="bg-orange-400/10 border-orange-400">
            <HtmlIcon class="size-12" />
            <p class="text-white mt-2 text-sm">HTML</p>
        </Tech>
        <Tech class="bg-blue-500/10 border-blue-500">
            <CssIcon class="size-12" />
            <p class="text-white mt-2 text-sm">CSS</p>
        </Tech>
        <Tech class="bg-yellow-300/10 border-yellow-300">
            <JsIcon class="size-12" />
            <p class="text-white mt-2 text-sm">JS</p>
        </Tech>
        <Tech class="bg-blue-300/10 border-blue-300">
            <TailwindIcon class="size-12" />
            <p class="text-white mt-2 text-sm">Tailwind</p>
        </Tech>
        <Tech class="bg-red-500/10 border-red-500">
            <JavaIcon class="size-12" />
            <p class="text-white mt-2 text-sm">Java</p>
        </Tech>
        <Tech class="bg-blue-300/10 border-blue-300">
            <ReactIcon class="size-12" />
            <p class="text-white mt-2 text-sm">React</p>
        </Tech>
        <Tech class="bg-orange-400/10 border-orange-400">
            <AstroIcon class="size-12" />
            <p class="text-white mt-2 text-sm">Astro</p>
        </Tech>
        <Tech class="bg-green-300/10 border-green-300">
            <NodeIcon class="size-12" />
            <p class="text-white mt-2 text-sm">Node.js</p>
        </Tech>
        <Tech class="bg-white/10 border-white">
            <ExpressIcon class="size-12" />
            <p class="text-white mt-2 text-sm">Express</p>
        </Tech>
        <Tech class="bg-gray-300/10 border-gray-300">
            <NextIcon class="size-12" />
            <p class="text-white mt-2 text-sm">Next.js</p>
        </Tech>
        <Tech class="bg-blue-500/10 border-blue-500">
            <MySQLIcon class="size-12" />
            <p class="text-white mt-2 text-sm">MySQL</p>
        </Tech>
        <Tech class="bg-white/10 border-blue-300">
            <PostgreIcon class="size-12" />
            <p class="text-white mt-2 text-sm">PostgreSQL</p>
        </Tech>
        <Tech class="bg-orange-600/10 border-orange-600">
            <GitIcon class="size-12" />
            <p class="text-white mt-2 text-sm">Git</p>
        </Tech>
        <Tech class="bg-white/10 border-white">
            <VercelIcon class="size-12" />
            <p class="text-white mt-2 text-sm">Vercel</p>
        </Tech>
    </div>
</div>

<script type="module" src="/src/scripts/carousel.js"></script>
